{% extends 'base.html' %}
{% load static %}
{% block nav %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recuperacion.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Introduce tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Enviar instrucciones</button>
    </form>
</div>
{% endblock %}
