{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ikiguía</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    {% block nav %}
      <nav class="navbar">
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'test' %}">Test Psicométrico</a>
        <a href="{% url 'test_ikigai' %}">Test Ikigai</a>
        <a href="{% url 'carreras' %}">Carreras recomendadas</a>
        

        {% if user.is_authenticated %}
          
        {% else %}
          <a href="{% url 'login' %}">Iniciar sesión</a>
          <a href="{% url 'registro' %}">Registrarse</a>
        {% endif %}
      </nav>
    {% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
