<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ikiguía</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  
  <!-- Bloque para CSS específico de cada página -->
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    {% block nav %}
    <h1>Ikiguía</h1>
    
    <nav>
      <a href="{% url 'home' %}">Inicio</a>
      <a href="{% url 'test' %}">Test Psicométrico</a>
      <a href="{% url 'test_ikigai' %}">Test Ikigai</a>
      <a href="{% url 'carreras' %}">Carreras recomendadas</a>
      <a href="#">Mentores</a>
      <a href="#">Contacto</a>

      {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
      {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a href="{% url 'registro' %}">Registrarse</a>
      {% endif %}
    </nav>
    {% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>