{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>¿Quiénes Somos?</title>
    <link rel="stylesheet" href="{% static 'css/Qsomos.css' %}" />
</head>
<body>
    <img src="{% static 'img/Logotipo de IKIGUIA.png' %}" alt="Idea con propósito" class="logo" />
    <h2>¿Quiénes Somos?</h2>
    <p>
        Somos un pequeño grupo de soñadores con espíritu emprendedor, estudiantes del octavo ciclo de la carrera de Computación en la Universidad Técnica Particular de Loja. Compartimos una visión en común: transformar la incertidumbre en claridad para quienes se enfrentan al difícil reto de elegir una carrera universitaria.
       
    </p>
    <p>
        De esa inquietud nace Ikiguia, una idea con propósito. Queremos iluminar el camino de quienes sienten que su futuro es una incógnita, brindándoles herramientas para descubrir su verdadera vocación. Lo que comenzó como un proyecto universitario, hoy lo imaginamos como una solución que trascienda fronteras: primero en nuestra comunidad, luego en todo el país… y quizá, ¿por qué no?, en el mundo.
    </p>
</body>
</html>
